.container {
    max-width: 1240px;
    width: 95%;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    
}

h1 {
    width: 100%;
}

.wrapperOrder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.orderList{
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.orderList::-webkit-scrollbar{
    width: 10px;  
   
}

.orderList::-webkit-scrollbar-track{
    background: #2F2F37;
    margin-bottom: 25vh;
}

.orderList::-webkit-scrollbar-thumb{
    background-color: #8585AD;
    border-radius: 6px;
}

.ÑommonInfo{
    width: 584px;
    display: flex;
    flex-direction: column;
}

.orderDisplay{
    display: flex;
    flex-flow: row nowrap;
}

.orderDisplay>div{
    width: 272px;
}

.digits{
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
    color: #F2F2F3;

}

.waveColor{
    color: #00CCCC;
}
