.modalMain{
    width: 480px;
    text-decoration: none;
}

.modalMain p{
    text-align: center;
}

.modalProps{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.modalProps li{
    list-style: none;
    text-align: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
}
