.primary{
    color: #F2F2F3;
}

.secondary{
    color: #8585AD;
}

.header{
    display: flex;
    align-self: stretch;
    justify-content: center;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header .wrapper{
    width: 1240px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color:bisque; 
}

.header section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(100%/3.3);
    
}

.header section:nth-child(1){
    justify-content: flex-start;
}

.header section:nth-child(2){
    justify-content: center;
}

.header section:nth-child(3){
    justify-content: flex-end;
}

.btn{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

}

.btn:first-child{
    margin-right: 8px;
}

.btn span{
    margin-left: 8px;
}

.btn a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
}
