.ingedientCard{
    max-width: 270px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration:  none;
    color: #F2F2F3
}

.priceWrapper{
    display: flex;
}

.titleCard{
    text-align: center;
}

.link{
    text-decoration: none;
}